{% extends "admin/change_form.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin_components.css' %}">
{% endblock %}

{% block after_related_objects %}
{{ block.super }}
{% if customization_links %}
<fieldset class="module aligned">
    <h2>{% trans "サイトカスタマイズ" %}</h2>
    <div class="store-custom-links">
        {% for link in customization_links %}
        <a href="{{ link.url }}" class="store-custom-link">
            <span>{{ link.icon }}</span>
            {{ link.label }}
        </a>
        {% endfor %}
    </div>
</fieldset>
{% endif %}
{% endblock %}
