{% extends 'booking/base.html' %}
{% load i18n %}
{% load static %}
{% load safe_filters %}

{% block title %}{{ page.meta_title|default:page.title }} | {{ block.super }}{% endblock %}

{% block extra_css %}
{% if page.meta_description %}<meta name="description" content="{{ page.meta_description }}">{% endif %}
{% if page.og_image_url %}<meta property="og:image" content="{{ page.og_image_url }}">{% endif %}
{% if page.meta_title %}<meta property="og:title" content="{{ page.meta_title }}">{% endif %}
{% if page.css_content %}
<style>{{ page.css_content|safe_html }}</style>
{% endif %}
{% endblock %}

{% block content %}
<div class="custom-page-content">
    {{ page.html_content|safe_html }}
</div>
{% endblock %}
